.cursos {
	width: 25em !important;
	/* cursor: pointer !important; */
	/* margin: 1rem 0 !important; */
	transition: all 0.3s;
}

.rev-date {
	width: 200px;
}

img {
	max-height: 500px !important;
}

.cursos {
	overflow: hidden;
	position: relative;
}

.cursos:after {
	background: #fff;
	content: "";
	height: 600px;
	left: -170px;
	opacity: 0.1;
	position: absolute;
	top: -100px;
	transform: rotate(35deg);
	/* transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); */
	width: 100px;
	z-index: -10;
}

.cursos:hover:after {
    opacity: 0.3;
	z-index: 135;
	left: 130%;
	transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.curso-banner {
	height: 10.1em;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	/* border-bottom: 2px solid var(--upa-main-dark); */
}

.curso-banner .badge {
	background-color: var(--upa-secondary-light);
	transform: translateY(75%) !important;
}

#data-curso span{
	border-radius: 1rem !important;
}
#data-curso ul{
	max-height: 21rem;
	list-style-type: none;
}
#temario-curso span{
	height: 40px;
	width: 40px;
	background-color: var(--upa-primary-light);
	border-radius: 50rem !important;
	min-height: 40px;
	min-width: 40px;
}
#temario-curso span h1{
	line-height: 0;
}
#temario-curso div.col-12{
	margin-bottom: 2rem !important;
}
#temario-curso li:last-child .col-12{
	margin-bottom: 0 !important;
}


.curso-feature > span{
	height: 50px !important;
	width: 50px !important;
	background-color: #ffb52b33;
}
.curso-feature span i{
	color: var(--upa-secondary-lighter);
}

.precios span{
	height: 62px !important;
	width: inherit !important;
	background-color: #65bae433;
}
.precios span i{
	line-height: 0;
}

.cursos button, 
#formRegistro1 .btn-primary, 
.form-comprobante .btn-primary,
#form-login .btn-primary,
#page-404 .btn-primary{
	transition: 0.5s;
	background-size: 200% auto;
	background-image: linear-gradient(
		to right,
		var(--upa-secondary) 0%,
		var(--upa-secondary-lighter) 51%,
		var(--upa-secondary) 100%
	);
    border: none;
	width: 9em;
	border-radius: 0.5rem;
}

.cursos button:focus, 
#formRegistro1 .btn-primary:focus, 
.form-comprobante .btn-primary:focus,
#form-login .btn-primary:focus,
#page-404 .btn-primary:focus,
.cursos button:active, 
#formRegistro1 .btn-primary:active, 
.form-comprobante .btn-primary:active,
#form-login .btn-primary:active,
#page-404 .btn-primary:active{
	box-shadow: 0 0 0 0.25rem #f2921d88;
}

.bg-light-gray{
	background-image: linear-gradient(
		to right bottom,
		var(--bs-light) 64%,
		var(--upa-primary) 190%) !important;
}

.cursos button:hover, 
#formRegistro1 .btn-primary:hover , 
.form-comprobante .btn-primary:hover,
#form-login .btn-primary:hover,
#page-404 .btn-primary:hover{
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

#header-cursos .cover{
	height: 25rem;
	background-image: url(../img/rsc/cover.jpg);
	background-position: bottom center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: var(--upa-main-dark);
	filter: blur(0px) brightness(55%);
	-webkit-filter: blur(4px) brightness(4px);
}

#header-cursos h1{
	font-weight: 600;
	letter-spacing: 1rem
}

#steps{
	background-color: var(--upa-main-dark);
	transition: all 0.35s;
}

#steps .progress{
	background-color: var(--upa-main) !important;
}

#steps .progress-bar{
	background-color: var(--upa-primary-light) !important;
}

.progress-step button {
	width: 2rem !important;
	height: 2rem !important;
	border: none;
}

.progress-step .btn-primary{
	border: 2px solid var(--upa-primary);
	background-color: var(--upa-primary) !important;
	/* color: var(--upa-main-dark) !important; */
	font-weight: bold;
}
.progress-step .btn-primary:hover,
.progress-step .btn-primary:active{
	border: 2px solid var(--upa-primary-light);
	background-color: var(--upa-primary-light) !important;
}
.progress-step .btn-secondary{
	border: 2px solid var(--upa-primary);
	background-color: var(--upa-main-dark) !important;
}
.progress-step .btn-secondary:hover,
.progress-step .btn-secondary:active{
	background-color: var(--upa-primary) !important;
}

.start-33 {
	left: calc(100% * 1 / 3);
}

.start-66 {
	left: calc(100% * 2 / 3);
}

#comprobante {
	margin-bottom: 0 !important;
}

#comprobante,
#comprobante label {
	cursor: pointer !important;
}

.filepond--root {
	max-height: 19em !important;
}

/*Iconos*/
.icons {
	margin: 0 auto;
}
.input-group-text2 {
	width: 50px !important;
	min-height: 38px !important;
}
#formRegistro1 .input-group-text2,
.modal-body .input-group-text2{
	background-color: var(--upa-light) !important;
	border-radius: 50rem !important;
	border: none;
}

#formRegistro1 span,
#form-login span.input-group-text2,
.modal-body span.input-group-text2,
.modal-body label.input-group-text{
	border: none;
	background-color: rgba(0,0,0,0) !important;
	transition: all 0.35s;
}
.modal-body label.input-group-text{
	/* background-color: var(--upa-light) !important;
	border-top-left-radius: 50rem !important;
	border-bottom-left-radius: 50rem !important; */
	/* border: none; */
	border-right: 3px solid var(--upa-main-lighter) !important;
	/* transition: all 0.35s; */
}
#formRegistro1 textarea,
.modal-body textarea{
	background-color: var(--upa-light) !important;
	border: none;
	border-radius: 1rem !important;
}

#formRegistro1 .input-group,
#form-login .input-group,
.modal-body .input-group{
	background-color: var(--upa-light) !important;
	border-radius: 50rem !important;
}

#formRegistro1 input[type="text"],
#form-login input[type="text"],
#form-login input[type="password"],
.modal-body input[type="text"]{
	/* border: 1px solid var(--upa-gray-dark) !important; */
	background-color: rgba(0,0,0,0) !important;
	border-radius: 50rem !important;
	border: none;
}
#formRegistro1 input[type="text"]:active,
#formRegistro1 input[type="text"]:focus,
#form-login input[type="text"]:active,
#form-login input[type="text"]:focus,
.modal-body input[type="text"]:active,
.modal-body input[type="text"]:focus,
#form-login input[type="password"]:active,
#form-login input[type="password"]:focus,
#formRegistro1 textarea:active,
#formRegistro1 textarea:focus,
.modal-body textarea:active,
.modal-body textarea:focus{
	box-shadow: none;
}

#formRegistro1 .form-check-input:checked[type="radio"],
.modal-body .form-check-input:checked[type="radio"]{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffb52b'/%3e%3c/svg%3e") !important;
	background-color: #fff;
	border: 1px solid var(--upa-secondary-light);
}

#formRegistro1 .form-switch .form-check-input:focus{
	border-color: var(--upa-secondary-light);
	box-shadow: 0 0 0 0.25rem rgba(255,818,43, .5);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffb52b'/%3e%3c/svg%3e");
}

#formRegistro1 .form-switch .form-check-input:checked{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

#formRegistro1 .form-check-input:checked{
	background-color: var(--upa-secondary-light);
	border-color: var(--upa-secondary-light);
}

#formRegistro1 .form-check-input:focus,
#formRegistro1 .form-check-input:visited{
	border-color: var(--upa-secondary-light);
	box-shadow: 0 0 0 0.25rem rgba(255,818,43, .5);
}

/*Breackpoints*/
@media only screen and (max-width: 1200px) {
	.break-lg {
		margin-top: 1rem !important;
	}
}

/* LATERAL NAVBAR */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
	--header-height: 3rem;
	--nav-width: 68px;
	--upa-gray: #a1a4a6;
	--upa-gray-light: #dce0e4;
	--upa-gray-dark: #666869;
	--first-color-light: #afa5d9;
	--white-color: #f7f6fb;
	--body-font: "Nunito", sans-serif;
	--normal-font-size: 1rem;
	--z-fixed: 100;
	--upa-main: #35789e;
	--upa-main-opaque: #4b93bd;
	--upa-main-dark: #072f4c;
	--upa-main-darker: #041522;
	--upa-main-light: #adc8d9;
	--upa-main-lighter: #bdd9eb;
	--upa-primary: #2a9dd6;
	--upa-primary-light: #65bae4;
	--upa-secondary: #f66b0f;
	--upa-secondary-light: #f2921d;
    --upa-secondary-lighter: #ffb52b;
	--upa-light: #e8f1f7;
	--red: #dc3545;
	--red-light: #df635f;
}

.admin-body {
	position: relative;
	margin: var(--header-height) 0 0 0;
	/* padding: 0 1rem; */
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: 0.5s;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: var(--upa-main);
	color: var(--upa-gray-light);
	z-index: var(--z-fixed);
	transition: 0.5s;
}

.header_toggle {
	/* color: var(--upa-main-dark); */
	font-size: 1.5rem;
	cursor: pointer;
}

.header_img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
}

.header_img img {
	width: 40px;
}

.l-navbar {
	position: fixed;
	top: 0;
	left: -30%;
	width: var(--nav-width);
	height: 100vh;
	background-color: var(--upa-main-dark);
	padding: 0.5rem 1rem 0 0;
	transition: 0.5s;
	z-index: var(--z-fixed);
}

.l-navbar .nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.nav_logo,
.nav_link {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 1rem;
	padding: 0.5rem 0 0.5rem 1.5rem;
	cursor: pointer;
}

.nav_logo {
	margin-bottom: 2rem;
}

.nav_logo-icon {
	width: 45px !important;
	margin-left: -0.8rem !important;
}

.nav_logo-name {
	color: var(--white-color);
	font-weight: 700;
}

.nav_link {
	position: relative;
	color: var(--upa-main-light);
	margin-bottom: 1.5rem;
	transition: 0.3s;
}

.nav_link:hover {
	color: var(--white-color);
}

.nav_icon {
	font-size: 1.25rem;
}

.show_nav {
	left: 0;
}

.body-pd {
	padding-left: calc(var(--nav-width) + 1rem);
}

.nav_list .active {
	color: var(--white-color);
}

.active::before {
	content: "";
	position: absolute;
	left: 0;
	width: 2px;
	height: 32px;
	background-color: var(--white-color);
}

.visually-hidden-focusable {
	opacity: 0;
}

#inscritosTable,
#cursosTable,
#pendientesTable {
	transition: all 0.75s;
}

.bg-upa-main {
	background-color: var(--upa-main);
}
.bg-upa-main-dark {
	background-color: var(--upa-main-dark);
}
.bg-upa-primary {
	background-color: var(--upa-primary);
}
button.bg-upa-main-dark,
input.bg-upa-main-dark {
	border-color: var(--upa-main-dark);
}
button.bg-upa-main-dark:hover,
input.bg-upa-main-dark:hover {
	background-color: var(--upa-main-dark-light);
	border-color: var(--upa-main-dark-light);
}
button.bg-upa-main-dark:active,
button.bg-upa-main-dark:focus,
input.bg-upa-main-dark:active,
input.bg-upa-main-dark:focus {
	box-shadow: 0 0 0 0.25rem #f2921d88;
	background-color: var(--upa-main-dark-light);
	border-color: var(--upa-main-dark-light);
}

.bg-upa-main-light {
	background-color: var(--upa-main-light);
}

.bg-upa-secondary {
	background-color: var(--upa-secondary);
}
.bg-upa-secondary-gradient{
	background-image: linear-gradient(
		to bottom right,
		var(--upa-secondary) 5%,
		var(--upa-secondary-lighter) 100%
	);
}
.bg-upa-primary-gradient{
	background-image: linear-gradient(
		to bottom right,
		var(--upa-main) 5%,
		var(--upa-primary-light) 100%
	);
}
button.bg-upa-secondary,
input.bg-upa-secondary {
	border-color: var(--upa-secondary);
}
button.bg-upa-secondary:hover,
input.bg-upa-secondary:hover {
	background-color: var(--upa-secondary-light);
	border-color: var(--upa-secondary-light);
}
button.bg-upa-secondary:active,
button.bg-upa-secondary:focus,
input.bg-upa-secondary:active,
input.bg-upa-secondary:focus {
	box-shadow: 0 0 0 0.25rem #f2921d88;
	background-color: var(--upa-secondary-light);
	border-color: var(--upa-secondary-light);
}
.bg-upa-secondary-light {
	background-color: var(--upa-secondary-light);
}
.bg-upa-secondary-lighter {
	background-color: var(--upa-secondary-lighter);
}

.text-upa-gray {
	color: var(--upa-gray) !important;
}
.bg-upa-gray-light {
	background-color: var(--upa-gray-light) !important;
}
.text-upa-gray-dark {
	color: var(--upa-gray-dark) !important;
}

.text-upa-primary{
	color: var(--upa-primary) !important;
}
.text-upa-main{
	color: var(--upa-main) !important;
}
.text-upa-main-light{
	color: var(--upa-main-light) !important;
}
.text-upa-main-lighter{
	color: var(--upa-main-lighter) !important;
}
.text-upa-main-dark{
	color: var(--upa-main-dark) !important;
}
.text-upa-secondary{
	color: var(--upa-secondary) !important;
}

.own-table-hover > tbody > tr{
	color: rgba(0,0,0,0.6) !important;
	overflow: hidden !important;
	transition: all 0.35s;
}

.own-table-hover > tbody > tr:hover{
	color: #212529 !important;
	background-color: rgba(255,255,255,1) !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15) !important;
}

.own-table-hover > tbody > tr:hover .btn{
	color: rgba(0,0,0,0.75) !important;
}
.own-table-hover > tbody > tr:hover .btn-primary{
	color: var(--upa-main) !important;
}
.own-table-hover > tbody > tr .btn:active,.own-table-hover > tbody > tr .btn:focus{
	box-shadow: none !important;
}
.own-table-hover > tbody > tr:hover .btn span{
	background-color: var(--red) !important;
	transition: all 0.35s;
}

.own-table-hover tr td .btn{
	color: rgba(0,0,0,0.45) !important;
	line-height: 0 !important;
	width: 30px !important;
	height: 30px !important;
	border: none !important;
	transition: all 0.35s;
}
.own-table-hover tr td .btn-primary{
	color: var(--upa-main-opaque) !important;
	background-color: rgba(0,0,0,0) !important;
}

.own-table-hover tr td .btn span{
	background-color: var(--red-light) !important;
}

.own-table-hover tr td .btnComprobante:hover{
	color: var(--upa-main) !important;
}
.own-table-hover tr td .btnEditarAlumno:hover{
	color: var(--upa-secondary-light) !important;
}
.own-table-hover tr td .btnEliminarAlumno:hover{
	color: var(--red) !important;
}

#btnRegresar{
	width: 30px !important;
	height: 30px !important;
	border: none !important;
	background-size: 200% auto;
	background-image: linear-gradient(
		to bottom right,
		var(--upa-light),
		var(--upa-primary)
	);
	transition: all 0.35s;
}
#btnRegresar:hover{
	background-position: right center;
	border: none !important;
}
#btnRegresar:active,
#btnRegresar:visited,
#btnRegresar:focus{
	box-shadow: 0 0 0 0.25rem #65bae433;
}
#btnRegresar i{
	line-height: 0;
}

#facturacion-form {
	/* height: 0; */
	overflow: hidden;
	transition: all 0.5s;
}

#facturacion-form .form-select{
	border: none;
	background-color: var(--upa-light);
	border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
	box-shadow: none;
}
.modal-body .form-select{
	border: none;
	background-color: var(--upa-light);
	border-radius: 50rem;
	box-shadow: none;
}
#facturacion-form .form-select option:hover,
.modal-body .form-select option:hover{
	background-color: #2a9dd6 !important;
}

.user-card span{
	width: 80px;
	height: 80px;
	color: var(--upa-secondary-lighter);
	background-color: #ffb52b33;
}
.user-card span i{
	line-height: 0;
	font-size: 5rem;
}
.user-card .nav-item{
	border-bottom: 0px solid var(--upa-primary);
}
.user-card .nav-link{
	padding: 0;
	box-shadow: none;
	border-radius: 0;
}
.user-card .nav-link.active{
	transition: all 0.05s;
	background-color: rgba(0,0,0,0) !important;
	border-bottom: 2px solid var(--upa-primary);
}
.user-card .nav-link:hover i,
.user-card .nav-link.active i{
	color: var(--upa-primary);
}

#card2 .card-body{
	flex: none;	
}
.marco-comprobante{
	border-radius: .5rem;
	border: 2px dashed #fff;
}
.form-comprobante .form-control{
	border: 0;
}
.form-comprobante .form-control::file-selector-button{
	background-color: var(--upa-secondary-light);
	border: 0;
}
.form-comprobante .form-control:hover:not(:disabled):not([readonly])::file-selector-button{
	background-color: var(--upa-secondary-lighter);
}

.user-details span{
	width: 36px;
	height: 36px;
	background-color: #65bae433;
	min-width: 36px;
	min-height: 36px;
}

/* .user-details i::before{
	width: 36px;
	height: 36px;
	background-color: red;
	border-radius: 50rem;
	padding: 0.5rem;
} */

/* .user-details i{
	width: 32px !important;
	height: 32px !important;
	background-color: #65bae433;
} */

.search-input:active,.search-input:focus{
	box-shadow: none !important;
}
.search-input + span{
	background-size: 200% auto;
	background-image: linear-gradient(
		to right,
		var(--upa-secondary) 0%,
		var(--upa-secondary-lighter) 51%,
		var(--upa-secondary) 100%
	);
    border: none !important;
	transition: all 0.35s;
}
.search-input:active + span,.search-input:focus + span{
	border: none !important;
	background-position: right center;
}

.shadow-sm-2{
	box-shadow:0 .25rem .25rem rgba(0,0,0,.1) !important;
}

/* MODALS */
.modal-content{
	box-shadow: 0 1rem 3rem rgba(0,0,0,.5) !important;
	border: 0;
	background-color: transparent;
	border-radius: 0.7rem;
	overflow: hidden;
}
.modal-header{
	border: 0;
}
.modal-title{
	letter-spacing: 0.2rem;
}
.btn-close{
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
	transition: all 0.35s;
}
.btn-close:hover,
.btn-close:focus{
	opacity: 1;
}
.modal-body,.modal-footer{
	background-color: #fff;
}

@media screen and (min-width: 768px) {
	.admin-body {
		margin: calc(var(--header-height) + 1rem) 0 0 0;
		padding-left: calc(var(--nav-width) + 0.1rem);
	}

	.header {
		height: calc(var(--header-height) + 1rem);
		padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
	}

	.header_img {
		width: 40px;
		height: 40px;
	}

	.header_img img {
		width: 45px;
	}

	.l-navbar {
		left: 0;
		padding: 1rem 1rem 0 0;
	}

	.show_nav {
		width: calc(var(--nav-width) + 156px);
	}

	.body-pd {
		padding-left: calc(var(--nav-width) + 188px);
	}
}

@media screen and (max-width: 576px){
	#page-404 > div{
		padding: 0 0.25rem !important;
	}
}