.cursos{
    width: 17rem !important;
    cursor: pointer !important;
    margin: 0 0.5rem !important;
}

.progress-step button{
    width:2rem !important;
    height:2rem !important;
}

.start-33{
    left: calc(100%*1/3);
}

.start-66{
    left: calc(100%*2/3);
}

#comprobante{
    margin-bottom: 0 !important;
}

#comprobante, #comprobante label{
    cursor: pointer !important;
}

.filepond--root{
    max-height: 19em !important;
}

/*Iconos*/
.icons{
    margin: 0 auto;
}
.input-group-text2{
    width: 50px !important;
}

/*Breackpoints*/
@media only screen and (max-width: 1200px) {
    .break-lg{
        margin-top: 1rem !important;
    }
}