.cursos{
    width: 25em !important;
    cursor: pointer !important;
    margin: 0 0.5rem !important;
    transition: all 0.3s;
}

.cursos:hover{
    margin-top:-0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.progress-step button{
    width:2rem !important;
    height:2rem !important;
}

.start-33{
    left: calc(100%*1/3);
}

.start-66{
    left: calc(100%*2/3);
}

#comprobante{
    margin-bottom: 0 !important;
}

#comprobante, #comprobante label{
    cursor: pointer !important;
}

.filepond--root{
    max-height: 19em !important;
}

/*Iconos*/
.icons{
    margin: 0 auto;
}
.input-group-text2{
    width: 50px !important;
    min-height: 38px !important;
}

/*Breackpoints*/
@media only screen and (max-width: 1200px) {
    .break-lg{
        margin-top: 1rem !important;
    }
}

/* LATERAL NAVBAR */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --upa-main: #35789E;
    --upa-main-dark: #072F4C;
    --upa-main-light: #ADC8D9;
    --upa-secondary: #F66B0F;
    --upa-secondary-light: #F2921D;
}

.admin-body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--upa-main-dark);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--upa-main-dark);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    cursor: pointer;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    width: 45px !important;
    margin-left: -0.8rem !important;
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--upa-main-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show_nav {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.nav_list .active {
    color: var(--white-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.visually-hidden-focusable{
    opacity: 0;
}

#inscritosTable,#cursosTable,#pendientesTable{
    transition: all 0.75s;
}

.bg-upa-main{
    background-color: var(--upa-main);
}
.bg-upa-main-dark{
    background-color: var(--upa-main-dark);
}
button.bg-upa-main-dark, input.bg-upa-main-dark{
    border-color: var(--upa-main-dark);
}
button.bg-upa-main-dark:hover,input.bg-upa-main-dark:hover{
    background-color: var(--upa-main-dark-light);
    border-color: var(--upa-main-dark-light);
}
button.bg-upa-main-dark:active, button.bg-upa-main-dark:focus,input.bg-upa-main-dark:active, input.bg-upa-main-dark:focus{
    box-shadow: 0 0 0 .25rem #F2921D88;
    background-color: var(--upa-main-dark-light);
    border-color: var(--upa-main-dark-light);
}

.bg-upa-main-light{
    background-color: var(--upa-main-light);
}

.bg-upa-secondary{
    background-color: var(--upa-secondary);
}
button.bg-upa-secondary, input.bg-upa-secondary{
    border-color: var(--upa-secondary);
}
button.bg-upa-secondary:hover,input.bg-upa-secondary:hover{
    background-color: var(--upa-secondary-light);
    border-color: var(--upa-secondary-light);
}
button.bg-upa-secondary:active, button.bg-upa-secondary:focus,input.bg-upa-secondary:active, input.bg-upa-secondary:focus{
    box-shadow: 0 0 0 .25rem #F2921D88;
    background-color: var(--upa-secondary-light);
    border-color: var(--upa-secondary-light);
}
.bg-upa-secondary-light{
    background-color: var(--upa-secondary-light);
}

@media screen and (min-width: 768px) {
    .admin-body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show_nav {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}